img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
            }
iframe{
	opacity: .9;
}

#info {
    position: absolute;
    top: 0px; width: 100%;
    text-align:center;
      }

#title {
	position: fixed;
	width: 17.7%;
	padding-left: 2.99vmax;
	
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: repeat (1, 50px);
	z-index: 1000;
}

.project_title{
	grid-column: 1 / span 6;
    grid-row: 1 / span 2;
}

h1 {
    color: #000;
    font-size: 1.8vmax;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: 600;
}

.sub-title {
	margin-top: -1.6vmax;
	font-size: .9vmax;
	grid-column: 1 / span 6;
    grid-row: 3 / span 1;
	color: #fff;
	padding-top: .5vmax;
}
            
h2 {
    color: #000;
    font-size: .8vmax;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
	display: inline-block;
}

h2 a:hover {
    font-weight: 600;
    padding-bottom: .2vh;
    border-bottom: 4px solid;
    color: #000;
}


.pano {
    position: fixed;
    bottom: 2vmax;
    width: 4vmax;
    opacity: .8;
    margin: 0 auto;
    left: 49%; 
}

label {
  cursor: pointer;
}

#menu-toggle {
  display: none; /* hide the checkbox */
}
#workMenu {
  display: none;
}
#menu-toggle:checked + #workMenu {
  display: block;
}

#bottom {
    left: 24%;
    position: fixed;
    top: 15%;
    width: 55%;
    height: 62%;
    /*outline: 1px solid;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 25px 25px;
}

.project {
  border: dotted 1px;
  color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center ;
  font-size: 1.4vmax;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}



q{
    width: 100%;
    
    font-size: 1.0vmax;
    padding-top: .3vmax; 
    margin-top: .5vmax;
    font-weight: 200;
}

#none { font-weight: 600; font-size: 1.4vh; display: none; }



.project:hover #none{display:inline} {
    background-color: #fff;
    color: #000;
}

.project:hover {
    background-color: #fff !important;
    color: #000;
}

/* LINKS */
/* unvisited link */
a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

/* mouse over link */

.beta {
	font-size: 1.2vh;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-style: italic;
}

@media screen 
		  and (max-width: 731px),
	   only screen 
		  and (min-width: 1024px) 
		  and (max-width: 1024px) 
		  and (orientation: portrait) 
		  and (-webkit-min-device-pixel-ratio: 2), /*  iPad Pro 12.9"  */
	   screen 
	  	  and (min-width: 834px) 
	  	  and (max-width: 834px) 
	  	  and (orientation: portrait) 
		  and (-webkit-min-device-pixel-ratio: 2), /*  iPad Pro 10.5"  */
	   screen 
	      and (min-width: 768px) 
	      and (max-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 2), /*  iPad 3, 4 and Pro 9.7"  */
	    screen 
		  and (min-width: 768px) 
		  and (max-width: 1024px) 
		  and (orientation: portrait) 
		  and (-webkit-min-device-pixel-ratio: 1) /*  iPad 1, 2, Mini and Air  */
	{
	#title {
	width: 100%;
	padding-left: 0vmax;
	}

.project_title{
	grid-column: 2 / span 4;
    grid-row: 1 / span 2;
	}
	
.sub-title {
	margin-top: -1.6vmax;
	font-size: 2.0vmax;
	grid-column: 3 / span 2;
    grid-row: 3 / span 1;
	padding-top: .5vmax;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
	}
	
		h1 {
    font-size: 2.5vmax;
	color: #fff;
	text-align: center;
	}

	h2 {
    font-size: 2.0vmax;
	text-align: center;
	}
	
	#bottom {
    left: 2.5%;
    position: fixed;
    top: 15%;
    width: 95%;
    height: 62%;
    /*outline: 1px solid;*/
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50% 50%;
    grid-gap: 25px 25px;
	}
	
	.project {
    font-size: 2.4vmax;
    letter-spacing: 2px;
	}

	q{
    font-size: 1.8vmax;
	}	
}

@media screen and (min-width: 1800px) {
	h1 {
    font-size: 1.1vmax;
	color: #000;
	}

	h2 {
    font-size: 0.5vmax;
	}
	
	.sub-title {
    font-size: 0.5vmax;
	margin-top: -1.3vmax;
	}
	
	.project {
	  font-size: 1vmax;
		}

	q{
	  font-size: 0.6vmax;
		}
}
